.banner-carousel-wrap {
  background: #f0f7ff;
}
#alaska-bannerCarousel .carousel-inner {
  padding: 30px 0 80px 0;
}
.carousel-progress button{
  width:28px;
}
.transition-timer-carousel-progress-bar {
  height: 5px !important;
  background-color: #3f5773;
  width: 0%;
  z-index: 11;
  position: relative;
}
.alaska-progress-bar {
  height: 5px;
  background-color: #aab8c978;
  width: 200px;
  z-index: 11;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.carousel-indicators [data-bs-target] {
  flex: 0 1 auto;
  width: auto;
  height: auto;
  padding: 4px 16px 6px 16px;
  margin-right: 16px;
  text-indent: 0;
  cursor: pointer;
  transition: opacity 0.6s ease;
  background-color: #dcecff;
  border: 1.5px solid #e0e8f2;
  border-radius: 10px;
  color: #3f5773b2;
  font-weight: 700;
  align-items: center;
  opacity: 0.7;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  justify-content: flex-start;
  padding: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
}
.carousel-indicators button.active {
  border-color: #314459;
  color: #3f5773;
}
@media screen and (max-width: 768px) {
  .carousel-indicators [data-bs-target] {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color:#c4c4c4;
    opacity: 1;
  }
  .carousel-indicators {
    justify-content: center;
  }
  .carousel-indicators button {
    font-size: 0;
  }
}
